.statisticCard,
.detailCard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.9rem;
}

.statisticCard {
    flex: 1 1 calc(25% - 1rem);
    background: var(--black);
    box-shadow: 0 0.5rem 1.2rem var(--box-shadow);
    border: 1px solid var(--subtle-black);
    border-radius: 0.75rem;
}

.detailCard {
    flex: 1 1 calc(33.3% - 1rem);
}

.statisticCard div,
.detailCard div {
    align-self: center;
}

.icon {
    font-size: 1.5rem;
}

.label {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.asset {
    font-size: 1rem;
    color: var(--white);
}

.value {
    font-size: 1.1rem;
    color: var(--white);
}

.textGreen {
    color: var(--light-green);
}

.textRed {
    color: var(--red);
}

@media screen and (max-width: 1280px) {
    .statisticCard,
    .detailCard {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media screen and (max-width: 768px) {
    .statisticCard,
    .detailCard {
        flex: 1 1 100%;
    }

    .detailCard {
        border-bottom: 1px solid var(--subtle-black);
    }

    .detailCard:last-of-type {
        border: none;
    }
}
