.container {
    min-height: calc(100vh - 88px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.heading {
    font-family: var(--font-josefin);
    font-weight: 400;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    line-height: 5.5rem;
    animation: var(--slide-in-right) 0.5s;
}

.headingGradient {
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    background: -webkit-linear-gradient(0deg, var(--turquoise), var(--violet));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    max-width: 860px;
    font-size: 1.25rem;
    line-height: 1.625rem;
    animation: var(--slide-in-down) 0.75s;
}

.buttonsContainer {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 3.5rem;
        line-height: 3.25rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .buttonsContainer {
        width: 100%;
        flex-direction: column;
    }

    .headingGradient {
        letter-spacing: -0.1rem;
    }
}
