.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingSpinner {
    display: inline-block;
    align-self: center;
    width: 48px;
    height: 48px;
}

.loadingSpinner:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid var(--white);
    border-color: var(--white) transparent var(--white) transparent;
    animation: loadingSpinner 1.25s linear infinite;
}

@keyframes loadingSpinner {
    0% {
        transform: rotate(0deg);
        border: 3px solid var(--grey);
        border-color: var(--grey) transparent;
    }

    50% {
        transform: rotate(180deg);
        border: 3px solid var(--white);
        border-color: var(--white) transparent;
    }

    100% {
        transform: rotate(360deg);
        border: 3px solid var(--grey);
        border-color: var(--grey) transparent;
    }
}
