.loadingSpinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loadingSpinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--white);
    border-color: var(--white) transparent var(--white) transparent;
    animation: loadingSpinner 1.25s linear infinite;
}

@keyframes loadingSpinner {
    0% {
        transform: rotate(0deg);
        border: 6px solid var(--grey);
        border-color: var(--grey) transparent;
    }

    50% {
        transform: rotate(180deg);
        border: 6px solid var(--white);
        border-color: var(--white) transparent;
    }

    100% {
        transform: rotate(360deg);
        border: 6px solid var(--grey);
        border-color: var(--grey) transparent;
    }
}
