.header {
    position: relative;
}

.nav {
    background: var(--black);
    border-bottom: 1px solid var(--subtle-black);
    box-shadow: 0 0.5rem 2rem var(--dark-grey);
}

.navContainer {
    max-width: var(--max-width);
    margin: 0 auto;
    /* margin: auto; */
    padding: 0.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------------------- LOGO -------------------*/

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

.logoTitle {
    text-transform: uppercase;
    font-family: var(--font-josefin);
    font-size: 1.25rem;
    letter-spacing: -0.05rem;
}

.logoTitleOrange {
    line-height: 0.1rem;

    color: var(--orange);
}

/*------------------- LINKS -------------------*/

.linksContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.linksList {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.link {
    padding: 0.5rem 0;
    transition: all ease-in-out 0.5s;
    font-size: 0.85rem;
}

.link:hover,
.link:focus {
    color: var(--light-blue);
}

@keyframes mobileNav {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------------- MENU ICON -------------------*/

.menuIconBackground {
    background-image: linear-gradient(
        to right,
        var(--violet) 0%,
        var(--purple) 50%,
        var(--violet) 100%
    );
    background-size: 200% auto;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    align-self: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    display: none;
}

.menuIconBackground:hover {
    background-position: right center;
}

.menuIconContainer {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: var(--dark-grey);
    color: var(--white);
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
}

.menuIcon {
    font-size: 1.5rem;
    padding: 0.375rem 0.5rem;
}

@media screen and (max-width: 768px) {
    .linksContainer {
        display: none;
    }

    .linksContainerActive {
        position: absolute;
        top: 56px;
        left: 0;
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        z-index: 50;
        background: var(--dark-grey);
        min-height: calc(100vh - 56px);
        padding: 1rem 1.5rem;
        gap: 3rem;
        animation: mobileNav 0.375s;
    }

    .linksList {
        flex-direction: column;
        gap: 1rem;
    }

    .ctaLink {
        align-self: center;
    }

    .menuIconBackground {
        display: flex;
    }
}

/*------------------- MEDIA QUERIES -------------------*/

@media screen and (max-width: 576px) {
    .linksList {
        width: 100%;
    }
    .ctaLink {
        width: 100%;
    }
}
