.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    border-bottom: 1px solid var(--dark-grey);
    box-shadow: 0 0 8px var(--dark-grey);
}

.navContainer {
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

/*------------------- LOGO -------------------*/

.logoContainer {
    flex-grow: 1;
    flex-basis: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.logoTitle {
    text-transform: uppercase;
    font-family: var(--font-josefin);
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
}

.logoTitleOrange {
    color: var(--orange);
}

/*------------------- LINKS -------------------*/

.linksContainer {
    align-self: center;
}

.linksList {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.links {
    transition: all ease-in-out 0.5s;
}

.links:hover,
.links:focus {
    color: var(--turquoise);
}

/*------------------- CONTROLS -------------------*/

.farEndContainer {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
