.titleContainer {
    flex-direction: row;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.symbol {
    color: var(--light-grey);
}

/*------------------- MEDIA QUERIES -------------------*/

@media screen and (max-width: 768px) {
    .container {
        gap: 0;
    }
}
