.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 491px;
}

/*------------------- MEDIA QUERIES -------------------*/

@media screen and (max-width: 576px) {
    .logoContainer {
        min-height: 496px;
    }
}
