.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 138px);
}

.infoContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    margin: 2rem auto;
    max-width: var(--max-width);
}
