.container {
    width: 100%;
    background: linear-gradient(90deg, var(--violet), var(--purple));
    padding: 0.5rem;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.link {
    cursor: pointer;
    padding: 0.25rem 1.5rem;
    background: var(--subtle-black);
    border-radius: 1rem;
    opacity: 0.75;
    transition: opacity ease-in-out 1s;
}

.link:hover,
.active {
    opacity: 1;
}
