.container {
    display: flex;
    flex-direction: column;
    animation: var(--slide-in-down) 0.75s;
    flex: 1 1 33%;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.05rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    gap: 0.25rem;
}

.listLabel {
    font-weight: 700;
}

.listLabel::before {
    content: "";
    display: inline-block;
    background: url("/assets/svg/arrowRight.svg") no-repeat center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    vertical-align: -0.1rem;
}
