.paginationContainer {
    display: flex;
    gap: 3rem;
}

.limitContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.limitText {
    font-size: 0.78rem;
    color: var(--light-grey);
}

.limitSelect {
    padding: 0.16rem 0.25rem;
    border: 1px solid var(--subtle-black);
    border-radius: 0.5rem;
    background-color: var(--background);
    font-size: 0.78rem;
}

.pageContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pageTextContainer {
    display: flex;
    padding: 0.16rem 0.75rem;
    border: 1px solid var(--subtle-black);
    border-radius: 0.5rem;
}

.pageText {
    font-size: 0.78rem;
    justify-self: center;
}

.table {
    font-size: 0.8rem;
    width: 100%;
    table-layout: auto;
    background: var(--black);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0.5rem 0.5rem var(--box-shadow);
    border-left: 1px solid var(--subtle-black);
    border-right: 1px solid var(--subtle-black);
}

.head {
    text-align: left;
    color: var(--light-grey);
    border-bottom: 1px solid var(--subtle-black);
}

.heading {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
}

.data {
    padding: 0.3725rem 0.75rem;
    border-bottom: 1px solid var(--subtle-black);
}

.fit {
    white-space: nowrap;
    width: 1px;
}

.link {
    color: var(--light-blue);
    width: fit-content;
}

.link:hover {
    color: var(--white);
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .data,
    .heading {
        display: none;
    }

    .priority {
        display: table-cell;
    }
}
