.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    min-height: calc(100vh - 82px);
}

.heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
}

.paragraph {
    max-width: 80%;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

/*------------------- MEDIA QUERIES -------------------*/

@media screen and (max-width: 1280px) {
    .cardsContainer {
        gap: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .cardsContainer {
        flex-direction: row;
    }
}
