.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

.paragraph {
    font-size: 1.1rem;
    max-width: 80%;
    margin-bottom: 2rem;
}

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}
