.container {
    display: flex;
    min-height: calc(100vh - 56px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    position: relative;
}

.heading {
    max-width: 860px;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 4.5rem;
    animation: var(--fade-in) 0.75s;
}

.paragraph {
    max-width: 860px;
    color: var(--light-grey);
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: -0.025rem;
    animation: var(--slide-in-down) 0.75s;
    margin-bottom: 5rem;
}

.highlight {
    color: var(--white);
    font-weight: 700;
}

.buttonsContainer {
    display: flex;
    gap: 2rem;
}

/*------------------- MEDIA QUERIES -------------------*/

@media screen and (max-width: 768px) {
    .container {
        min-height: calc(100vh - 56px);
    }

    .heading {
        font-size: 3rem;
        line-height: 3.25rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .buttonsContainer {
        width: 100%;
        flex-direction: column;
    }

    .headingGradient {
        letter-spacing: -0.1rem;
    }
}
