.container,
.top,
.bottom,
.middle {
    display: flex;
    flex-direction: column;
    background: var(--black);
    box-shadow: 0 0.5rem 1.2rem var(--box-shadow);
    padding: 0.9rem;
    border: 1px solid var(--subtle-black);
}

.container {
    border-radius: 0.75rem;
}

.top {
    border-bottom: transparent;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}

.middle {
    border-bottom: transparent;
    border-top: transparent;
    box-shadow: 0 0.5rem 1.2rem transparent;
}

.bottom {
    border-top: transparent;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
