.container {
    background: var(--black);
    border-top: 1px solid var(--subtle-black);
    box-shadow: 0 0.5rem 2rem var(--box-shadow);
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem 1.25rem;
    border-bottom: 1px solid var(--subtle-black);
}

.list {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.link {
    padding: 0.5rem 0;
    transition: all ease-in-out 0.5s;
    font-size: 0.95rem;
    color: var(--light-grey);
}

.link:hover,
.link:focus {
    color: var(--light-blue);
}

.creditsContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.credits {
    font-size: 0.725rem;
    color: var(--light-grey);
}

.creditsLink {
    color: var(--white);
}

.creditsLink:hover {
    color: var(--light-blue);
}

/*------------------- MEDIA QUERIES -------------------*/

@media screen and (max-width: 576px) {
    .linksList {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .creditsContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
