.rayContainer {
    transition: opacity 0.25s linear;
    position: fixed;
    inset: 0;
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.lightRay {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(
        rgba(174, 83, 255, 0.85) 0%,
        rgba(43, 166, 255, 0) 100%
    );
}

.rayOne {
    width: 480px;
    height: 680px;
    transform: rotate(80deg);
    top: -540px;
    left: 250px;
    filter: blur(110px);
}

.rayTwo {
    width: 110px;
    height: 400px;
    transform: rotate(-20deg);
    top: -280px;
    left: 350px;
    mix-blend-mode: overlay;
    opacity: 0.6;
    filter: blur(60px);
}

.rayThree {
    width: 400px;
    height: 370px;
    top: -350px;
    left: 200px;
    mix-blend-mode: overlay;
    opacity: 0.6;
    filter: blur(21px);
}

.rayFour {
    position: absolute;
    width: 330px;
    height: 370px;
    top: -330px;
    left: 50px;
    mix-blend-mode: overlay;
    opacity: 0.5;
    filter: blur(21px);
}

.rayFive {
    position: absolute;
    width: 110px;
    height: 400px;
    transform: rotate(-40deg);
    top: -280px;
    left: -10px;
    mix-blend-mode: overlay;
    opacity: 0.8;
    filter: blur(60px);
}
